---
version: 2
jobs:
  build:
    working_directory: ~/config-server
    docker:
      - image: circleci/openjdk:8-jdk
    environment:
      APP_NAME: WB3-K8s-ConfigServer
      CONFIG_SERVER_ENCRYPT_ENABLED: true
      CONFIG_SERVER_GIT_URI: https://github.com/k8s-spring-cloud/1-Configuration
      ENCRYPT_KEY: TheVerySecretKey
    steps:
      - checkout
      - restore_cache:
          key: config-server-{{ checksum "pom.xml" }}
      - run: mvn dependency:go-offline
      - save_cache:
          paths:
            - ~/.m2
          key: config-server-{{ checksum "pom.xml" }}
      - run: mvn package
      - store_test_results:
          path: target/surefire-reports
      - store_artifacts:
          path: target/config-server.jar
      - setup_remote_docker
      - run:
          command: |
            docker build -t $DOCKER_REPO .
            docker login -u $DOCKER_USER -e $DOCKER_EMAIL -p $DOCKER_PASS
            docker push $DOCKER_REPO


#
#general:
#  artifacts:
#    - "target/config-server.jar"
#machine:
#  java:
#    version: openjdk8
#  services:
#    - docker
#    environment:
#      APPLICATION-NAME: WB3-K8s-ConfigServer
#      SPRING-CLOUD-CONFIG-SERVER-ENCRYPT-ENABLED: true
#      SPRING-CLOUD-CONFIG-GIT-URI: https://github.com/k8s-spring-cloud/1-Configuration
#      ENCRYPT-KEY: TheVerySecretKey
#deployment:
#  hub:
#    branch: master
#    commands:
#      - docker build -t $DOCKER_REPO .
#      - docker login -u $DOCKER_USER -e $DOCKER_EMAIL -p $DOCKER_PASS
#      - docker push $DOCKER_REPO